<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Redacted!
body
  h1 Write Here
  block content
    form(name="Message", method="post")
      p Name
        input(type="text", name="name")
      p Message
        input(type="text", name="message")
      div.actions
        input(type="submit", value="Submit!")